ENVIRONMENT=development

# Neon db
DATABASE_URL=

# Auth
BETTER_AUTH_URL=""
BETTER_AUTH_SECRET=""
AUH_GOOGLE_CLIENT_ID="" 
AUH_GOOGLE_CLIENT_SECRET="" 
AUH_GITHUB_CLIENT_ID="" 
AUH_GITHUB_CLIENT_SECRET="" 

NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Stripe API
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_CLIENT_ID=
STRIPE_WEBHOOK_SECRET=

# Vapi
VAPI_PRIVATE_KEY=
VAPI_ORG_ID=
NEXT_PUBLIC_VAPI_API_KEY=

# GetStream io 
NEXT_PUBLIC_STREAM_API_KEY=
STREAM_SECRET=

# Mail
GMAIL_HOST="smtp.gmail.com"
GMAIL_USER=""
GMAIL_PASSWORD=""